<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Email dede bhai</h1>
    <form action="/api/auth/send-otp" method="POST">
      <input type="text" name="email" placeholder="Enter your reg email" />
      <button>Verify</button>
    </form>
  </body>
</html>
