<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <p style="color: blue">This is SSR</p>

    

    <form action="/send" method="POST">
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="subject" placeholder="Subject" />
      <textarea name="body" id="" placeholder="Body"></textarea>
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
