<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <form action="/api/auth/forget-password" method="POST">
        <label for="">Enter your Reg email</label>
        <input type="text" name="email" placeholder="Email" />
        <button>submit</button>
      </form>
    </main>
  </body>
</html>
